<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Exercicio 2 - NodeJS</title>

    <header>
        <nav>
            <p><a href="">Home</a></p>
        </nav>
    </header>


    <main>
        <h1>-Teste-</h1>
    </main>

    <footer>
        <p>
            <a href="">Home</a>
        </p>
    </footer>
</head>
<body>
    
</body>
</html>