<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Testando o EJS - Servidor ExpressJS</title>


</head>

<body>
    <header>    
        <h1>Bem-Vindo(a) ao Servidor ExpressJS</h1>
        <hr>

        <h2>Página Inicial</h2>
    </header>


    <main>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam et nobis aperiam quo error vitae neque aut dolore officia? Minus sequi vero natus fugiat obcaecati facere exercitationem deserunt aut reiciendis?
        </p>

        <ul>
            <% for (banda of bandas) { %>
            <li> 
                <%=bandas%> 
            </li>
            <% } %>
        </ul>

        <p>
            <a href="/">Inicial</a> | <a href="/sobre">Sobre</a> | <a href="/contato">Contatos</a>
        </p>
    </main>

</body>

</html>